@charset "UTF-8";

/*Configurações do Mobile First*/

@media print { /*Impresão*/
    /*desnecessário*/
}

@media screen and (min-width: 768px) and (max-width: 992px) { /*Tablet*/
    body {
        background-image: url(../back-tablet.jpg);
    }
    
    img#phone {display: none;}
    img#pc {display: none;}
    img#print {display: none;}
    img#tablet {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /*Desktop*/
    body {
        background-image: url(../back-pc.jpg)
         
    }

        img#phone {display: none;}
        img#pc {display: block;}
        img#print {display: none;}
        img#tablet {display: none;}
        img#tv {display: none;}
}

@media screen and (min-width: 1200px) { /*Grandes Telas*/
    body {
        background-image: url(../back-tv.jpg);
    }

    main {
        width: 700px;
    }

        img#phone {display: none;}
        img#pc {display: none;}
        img#print {display: none;}
        img#tablet {display: none;}
        img#tv {display: block;}
}