@charset "UTF-8";

div.video {
    margin: auto;
    padding: 10px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

iframe.planilha {
    height: 600px;
    width: 750px;
}